.component-categories {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px 15px 10px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  .categories-text {
    color: #0c0d36;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    margin-top: 12px;
  }
}
