.component-products {
  margin-bottom: 25px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 5px;

  &:hover {
    text-decoration: none;
  }

  .products-thumbnail {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
      .products-image {
        transform: scale(1.1);
      }
    }

    .products-image {
      width: 100%;
      height: 100%;
      background-color: #ddd;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
    }
  }

  .products-title {
    font-weight: normal;
    font-size: 12px;
    color: #0c0d36;
    margin-top: 12px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

  .products-price {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #ff7158;
  }

  .products-city {
    margin-top: 5px;
    font-weight: 100;
    font-size: 14px;
    color: #0c0d36;
  }

  .products-rewards {
    margin-top: 5px;
    font-size: 8px;
    color: #b7b7b7;

    .custom-star {
      color: #ffc200;
    }
    span {
      font-weight: 100;
    }

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}
