.page-auth {
  .row-login {
    min-height: 75vh;
  }

  .section-store-auth {
    h2 {
      font-weight: 200;
      font-size: 28px;
      margin-top: 0;
      color: #0c0d36;
      // @include media-breakpoint-up(md) {
      //   font-size: 28px;
      // }
    }

    a {
      text-decoration: none;
    }

    .form-control {
      border-radius: 8px;
    }

    .btn-signup {
      @include button-variant(#f3f3f3, transparent);
      color: #bbb;
    }
  }
}
